h1 {
    font-family: Circular;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 96px;
    color: #FFFFFF;
}

.titleWrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-item-align: center;
    align-self: center;
    margin-top: 75px;
    overflow: hidden;
    min-height: 275px;
}

.userGreeting {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: 181px;
}

.userPicture {
    width: 175px;
    height: 175px;
    margin-left: 75px;
    border: 3px solid #1DB954;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 500px;
    background-size:cover;
  background-position:center center;
  background-repeat:no-repeat;
  -o-object-fit: cover;
     object-fit: cover;
}

.wrapper {
    width: 100%;
    height: 100%;
    top: 200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 50px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.element {
    margin: 50px 25px;
    max-width: 300px;
}

.playlistImage {
    margin-bottom: 25px;
    width: 300px;
    height: 300px;
}

.playlistName {
    font-family: Circular;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-size: 24px;
    text-align: center;
    color: #FFFFFF;
}

.playlistCreator {
    font-family: Circular;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 18px;
    text-align: center;
    color: #B3B3B3;
}

#mainUser {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    background: none;
}

#overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 0;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(#000000));
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, #000000 100%);
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, #000000 100%);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
}
